header {
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 2rem;
    color: #1C2139;
}

header, main > *, footer {
    display: grid;    
    grid-template-columns: [inicio] 5% [primeira] 1fr [segunda] 1fr [terceira] 1fr [ultima] 5% [fim];
    align-items: center;
}

header {
    position: relative;
}

header a {
    text-decoration: none;
}

nav {
    grid-column: segunda / ultima;
    align-self: end;
}

nav ul{
    display: flex;
    gap: 1.5rem;
    justify-content: end;
    align-items: flex-end;
    padding: 0;
    margin: 0;
    list-style: none;
}

nav ul li {
    display: block;
    border-radius: 25px 25px 0px 0px;
    padding: 1rem 1.5rem .5rem 1.5rem;
    background-color: #5271FF;
    color: #FFF;
}

ul {
    list-style: none;
    padding: 0;
}

footer {
    grid-template-rows: 4fr 1fr;
    justify-items: center;
    align-items: center;
    background-color: #1C2139;
    color: #FFF;
}

address {
    grid-column: primeira / ultima;
    grid-row: 2 / 3;
    text-align: center;
}

#div-logo {
    display: flex;
    grid-column: primeira / segunda;
    gap: 1.5rem;
    padding: 1.5rem 0rem;
    color: #5271FF;
}

#div-tel {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem;
    border-radius: 0px 0px 0px 25px;
    background-color: #EDEDED;
    color: #5271FF;
}

#section-banner {
    box-shadow: inset 0px 12px 30px rgba(0, 0, 0, 0.5);
    background-image: url(images/arte-entregador.jpg);
    min-height: 400px;
}

#div-par {
    grid-column: inicio / segunda;
}

#par-banner {
    font-size: 2rem;
    border-radius: 0px 25px 25px 0px;
    background-color: #1C2139;
    padding: 1.5rem;
    color: #FFF;
}

#div-contratar {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
    grid-column: terceira / ultima;
}

#div-contratar div {
    color: #FFF;
}

#btn-contratar {
    display: inline-block;
    font-size: 1.5rem;
    font-weight: 700;
    color: #1C2139;
    border-radius: 25px;
    padding: 1.5rem 0rem;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #FFF;
    filter: drop-shadow(9px 12px 30px rgba(0, 0, 0, 0.5));
}

#section-servicos {
    grid-template-rows: 1fr 5fr;
    background-image: url(images/abstrato.png);
    min-height: 500px;
}

#section-servicos h2{
    grid-column: segunda / terceira;
    text-align: center;
}

#cards {
    display: flex;
    justify-content: center;
    grid-column: primeira / ultima;
    text-align: center;
}

.card-servico {
    max-width: 350px;
    filter: drop-shadow(6px 6px 12px rgba(0, 0, 0, 0.25));
}

.card-servico h3 {
    background-color: #5271FF;
    padding: 1rem;
    margin: 0;
    border-radius: 25px 25px 0px 0px;
    color: #FFF;
}

.card-imagem  {
    height: 80px;
    background-image: url(images/avulso.png);
    background-size: cover;
}

.card-lista {
    background-color: #FFF;
    padding: 1rem;
    border-radius: 0px 0px 25px 25px ;
}

#section-vantagens {
    background-color: #5271FF;
    min-height: 400px;
}

#lista-vantagens {
    grid-column: primeira / segunda;
    align-self: center;
    background-color: #5271FF;
    color: #FFF;
}

#img-vantagem {
    grid-column: segunda / fim;
    height: 100%;
    background-image: url(images/foto-homem.jpg);
}

#section-calculadora {
    min-height: 300px;
}

#calculadora {
    grid-column: primeira / terceira;
    justify-self: center;
}

#resultado {
    grid-column: terceira / ultima;
    justify-self: start;
}

#footer-logo {
    justify-self: start;
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    align-items: center;
    grid-column: primeira / segunda;
}