/* Variaveis */

:root {

    /* Cores */
    --roxo: #5271FF;
    --azul: #1C2139;
    --cinza: #EDEDED;
    --branco: #FFF;

    /* Telas */
    --mobile: 480px;
    --tablet: 768px;
    --laptop: 1024px;
    --desktop: 1200px;
}

/* Gerais ___________________________ */

html {
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    line-height: 2rem;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    color: var(--azul);
}

header, main > * {
    display: grid;    
    grid-template-columns: [inicio] 5% [primeira] 1fr [segunda] 1fr [terceira] 1fr [ultima] 5% [fim];
    align-items: center;
    gap: 2rem;
}

header {
    position: relative;
}

nav {
    grid-column: segunda / ultima;
    align-self: end;
}

footer {
    display: grid;
    grid-template-columns: [inicio] 5% [primeira] 1fr [segunda] 2fr [terceira] 3fr [quarta] 2fr [ultima] 5% [fim];
    grid-template-rows: 2fr 1fr;
    justify-items: center;
    align-items: center;
    gap: 2rem;
    padding-top: 1.5rem;
    color: var(--branco);
    background-color: var(--azul);
}

    /* Elementos ___________________________ */

    header a {
        text-decoration: none;
    }

    nav ul{
        display: flex;
        justify-content: end;
        align-items: flex-end;
        gap: 1.5rem;
        padding: 0;
        margin: 0;
        list-style: none;
    }

    nav ul li {
        display: block;
        min-width: 60px;
        border-radius: 25px 25px 0px 0px;
        padding: .5rem 1rem .1rem 1rem;
        color: var(--branco);
        background-color: var(--roxo);
        transition: padding-bottom 1s;
    }

    nav ul li:hover, nav ul li:focus  {
        padding-bottom: 1.5rem;
    }

    ul {
        padding: 0;
        line-height: 3rem;
        list-style: none;
    }

    h1 {
        font-family: 'League Spartan', sans-serif;
        color: var(--roxo);
    }

    h2 {
        margin-bottom: 1rem;
    }

    input {
        width: 220px;
        border: 0;
        padding: .5rem;
        padding-left: 1rem;
        border-radius: 100px;
        background-color: var(--cinza);
    }

    button {
        border: 0;
        padding: 12px;
        background-color: transparent;
        background-image: url(images/check.svg);
        background-repeat: no-repeat;
        cursor: pointer;
    }


    address {
        grid-column: primeira / ultima;
        grid-row: 2 / 3;
        text-align: center;
        justify-self: center;
        padding-bottom: 2rem;
    }

        /* Id's ___________________________ */

        #div-logo {
            grid-column: primeira / segunda;
            padding: 1.5rem 0rem;
        }

        #div-logo a {
            display: flex;
            gap: 1.5rem;
        }

        #div-tel {
            position: absolute;
            top: 0;
            right: 0;
            padding: .5rem;
            border-radius: 0px 0px 0px 25px;
            font-weight: 700;
            color: var(--roxo);
            background-color: var(--cinza);
        }

        #div-tel span {
            display: block;
            padding-left: 35px;
            background-image: url(images/phone-roxo.svg);
            background-repeat: no-repeat;
            background-position: left;
            background-size:auto;
        }

        #section-banner {
            min-height: 400px;
            box-shadow: inset 0px 12px 30px rgba(0, 0, 0, 0.5);
            background-image: url(images/arte-entregador.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        #div-par {
            grid-column: inicio / segunda;
        }

        #div-par span {
            font-weight: 500;
        }

        #par-banner {
            padding: 2.5rem;
            border-radius: 0px 25px 25px 0px;
            font-size: 2rem;
            font-family: 'League Spartan', sans-serif;
            font-weight: 100;
            color: var(--branco);
            background-color: var(--azul);
        }

        #div-contratar {
            grid-column: terceira / ultima;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            text-align: center;
        }

        #div-contratar div {
            color: var(--branco);
        }

        #btn-contratar {
            display: inline-block;
            border-radius: 25px;
            padding: 1.5rem;
            font-size: 1.5rem;
            font-weight: 700;
            color: var(--azul);
            background-color: var(--branco);
            text-decoration: none;
            text-transform: uppercase;
            filter: drop-shadow(9px 12px 30px rgba(0, 0, 0, 0.5));
            transition: transform 1s;
        }

        #btn-contratar:hover, #btn-contratar:focus {
            transform: scale(1.2);
        }

        #section-servicos {
            min-height: 500px;
            padding: 1.5rem 0;
            grid-template-rows: 1fr 5fr;
            background-image: url(images/abstrato.png);
        }

        #section-servicos h2{
            grid-column: segunda / terceira;
            text-align: center;
        }

        #cards {
            grid-column: primeira / ultima;
            display: flex;
            flex-wrap: wrap;
            gap: 2rem;
            justify-content: space-evenly;
            text-align: center;
        }

        #avulso {
            background-image: url(images/avulso.png);
        }

        #contrato {
            background-image: url(images/contrato.png);
        }

        #van {
            background-image: url(images/van.png);
        }

        .card-lista {
            padding: 1rem;
            border-radius: 0px 0px 25px 25px ;
            background-color: var(--branco);
        }

        #section-vantagens {
            min-height: 400px;
            background-color: var(--roxo);
        }

        #lista-vantagens {
            grid-column: primeira / segunda;
            align-self: center;
            padding: 1.5rem 0;
            color: var(--branco);
            background-color: var(--roxo);
        }

        #lista-vantagens a {
            color: var(--branco);
        }

        #img-vantagem {
            grid-column: segunda / fim;
            height: 100%;
            width: 100%;
            background-image: url(images/foto-homem.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: top center;
        }

        #section-calculadora {
            grid-template-columns: [inicio] 5% [primeira] 1fr [segunda] 1fr [ultima] 5% [fim];
            justify-items: center;
            align-items: center;
            gap: 1rem;
            min-height: 300px;
            padding: 1.5rem 0;
        }

        #calculadora {
            grid-column: primeira / segunda;
            justify-self: center;
        }

        #div-input {
            display: flex;
            align-items: center;
            gap: 0.5rem;
        }

        #resultado {
            grid-column: segunda / ultima;
        }

        #footer-logo {
            grid-column: primeira / segunda;
            justify-self: start;
            display: flex;
            justify-content: space-between;
            gap: 1.5rem;
            align-items: center;
        }

        #footer-logo img {
            max-width: 80px;
        }

        #footer-logo span {
            font-size: 2rem;
            font-family: 'League Spartan', sans-serif;
            color: var(--branco);
        }

        #midias li, #endereco h3, #contato h3, #contato p{
            padding-left: 30px;
            background-repeat: no-repeat;
            background-position: left;
            background-size:auto;
        }

        #contato h3 {
            background-image: url(images/phone.svg);
        }

        #contato p {
            background-image: url(images/whatsapp.svg);
        }

        #endereco h3{
            background-image: url(images/marker.svg);
        }

        #midias a {
            color: var(--branco);
            text-decoration: none;
        }

        #insta {
            background-image: url(images/insta.svg);
        }

        #linkedin {
            background-image: url(images/linkedin.svg);
        }

        #email {
            background-image: url(images/envelope.svg);
        }


            /* Classes ___________________________ */

            .card-servico {
                max-width: 350px;
                filter: drop-shadow(6px 6px 12px rgba(0, 0, 0, 0.25));
                transition: transform 1s;
            }

            .card-servico:hover, .card-servico:focus{ 
                transform: rotate(-0.03turn) scale(1.15);
            }

            .card-servico h3 {
                padding: 1rem;
                margin: 0;
                border-radius: 25px 25px 0px 0px;
                color: var(--branco);
                background-color: var(--roxo);
            }

            .card-imagem  {
                height: 80px;
                background-size: cover;
            }

/* Querys ___________________________ */

@media screen and (max-width: 1200px) {

    footer {
        grid-template-columns: [inicio] 5% [primeira] 1fr [segunda] 1fr [ultima] 5% [fim];
        grid-template-rows: 2fr 2fr 1fr;
        align-content: center;
        justify-items: baseline;
        gap: 3rem;
    }

    #footer-logo {
        grid-column: primeira / segunda;
        grid-row: 1 / 2;
    }

    #contato {
        grid-column: segunda / ultima;
        grid-row: 1 / 2;
    }

    #endereco {
        grid-column: primeira / segunda;
        grid-row: 2 / 3;
    }

    #midias {
        grid-column: segunda / ultima;
        grid-row: 2 / 3;
    }

    address {
        grid-column: primeira / ultima;
        grid-row: 3 / 4;
    }
}

@media screen and (max-width: 1024px) {

    header {  
        grid-template-columns: [inicio] 5% [primeira] 1fr [segunda]  5% [fim];
        grid-template-rows: 2fr 1fr;
        justify-items: center;
        align-items: center;
        gap: 1rem;
    }

    div-logo, nav {
        grid-column: primeira / segunda;
    }

    nav {
        grid-row: 2 / 3;
    }
    
    #section-vantagens, #section-banner {
        grid-template-columns: [inicio] 5% [primeira] 1fr [segunda]  1fr [ultima] 5% [fim];
        justify-items: center;
        align-items: center;
        gap: 3rem;
    }

    #img-vantagem {
        grid-column: segunda / fim;
    }

    #div-par {
        grid-column: inicio / segunda;
    }

    #div-contratar {
        grid-column: segunda / ultima;
    }
}

@media screen and (max-width: 768px)  {

    body {
        font-size: 14px;
    }

    #section-vantagens, #section-calculadora {
        grid-template-columns: [inicio] 5% [primeira] 1fr [ultima] 5% [fim];
        grid-template-rows: 1fr 1fr;
        justify-items: center;
        align-items: center;
        gap: 3rem;
    }

    #section-vantagens {
        grid-template-rows: 2fr 1fr;
    }

    #lista-vantagens, #calculadora {
        grid-column: primeira / ultima;
        grid-row: 1 / 2;
    }

    #img-vantagem, #resultado {
        grid-column: inicio / fim;
        grid-row: 2 / 3;
    }

    footer {
        grid-template-columns: [inicio] 5% [primeira] 1fr [ultima] 5% [fim];
        grid-template-rows: 3fr 3fr 3fr 3fr 1fr;
        align-content: center;
        justify-items: start;
        gap: 3rem;
    }

    #footer-logo {
        grid-column: primeira / ultima;
        grid-row: 1 / 2;
    }

    #contato {
        grid-column: primeira / ultima;
        grid-row: 2 / 3;
    }

    #endereco {
        grid-column: primeira / ultima;
        grid-row: 3 / 4;
    }

    #midias {
        grid-column: primeira / ultima;
        grid-row: 4 / 5;
    }

    address {
        grid-column: primeira / ultima;
        grid-row: 6 / 7;
    }
}

@media screen and (max-width: 635px)  {

    header {  
        grid-template-columns: [inicio] 5% [primeira] 1fr [segunda]  5% [fim];
        grid-template-rows: 1fr;
        justify-items: center;
        align-items: center;
        gap: 1rem;
    }

    nav {
        display: none;
    }

    #par-banner {
        font-size: 1.5rem;
    }

    #btn-contratar {
        font-size: 1rem;
    }

     #section-banner {
        grid-template-columns: [inicio] 5% [primeira] 1fr  [ultima] 5% [fim];
        grid-template-rows: 1fr;
        justify-items: center;
        align-items: center;
        gap: 3rem;
        padding: 1.5rem 0;
    }

    #div-par {
        grid-column: inicio / ultima;
    }

    #div-contratar  {
        grid-column: primeira / ultima;
    }

    #div-tel {
        display: none;
    }
}

@media screen and (max-width: 480px)  {
    input {
        width: 150px;
    }
}